---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <h1>About Me</h1>
    <p>Current computer science student at Queensland University of Technology. Aspiring IT professional, developer, and/or technologist. I like to make things, be creative, and help others.</p>

    <h2>My Skills</h2>
    <h3>As a <strong>Production Technician</strong></h3>
    <ul>
        <li>Experienced live theatre technician, bumping in, operating and bumping out live theatre, ballet, musical theatre.</li>
        <li>Primarily a lighting technician with experience using <strong>ETC EOS</strong> and <strong>GrandMA 2</strong> range of lighting control</li>
        <li>Toured around regional Queensland with a state ballet company.</li>
        <li>Worked on a four month season of <em>Groundhog Day: The Musical</em> as the deputy head of lighting.</li>
    </ul>
    <p>Read a more <a href="/projects">detailed production history</a>.</p>
    <h2>About this site</h2>
    <p>This page is hosted, with GitHub pages, using the Astro framework for its simplicity, and how the final source code looks.</p>
    <p>The <code>joshskipp.dev</code> domain was purchased though Hover, if curious.</p>
</BaseLayout>