---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout>
        <section class="homepage-hero">
            <h1>Hey, it's Skipp. &#x1F44B;</h1>
            <p>I am an aspiring <strong>developer</strong> and <strong>technologist</strong>, with a strong background in live performance and theatre as a multi-displinary technician.</p>
            <p>Experience in <strong>web development</strong> frameworks like React and Next.JS, <strong>networking</strong> and <strong>security fundamentals</strong>, databases MySQL, PostgreSQL. Language experience includes <strong>JavaScript/TypeScript</strong>, <strong>C#</strong>, <strong>Java</strong>, <strong>Python</strong>.</p>
        </section>
<!-- 
        <div class="homepage-links">
        <section class="homepage-hero">
            <h2>Technical production</h2>
        </section>

        <section class="homepage-hero">
            <h2>Computer Science</h2>
        </section>
        </div> -->
        <!-- <h2>
            About this site
        </h2>
        <p>This page is hosted, with GitHub pages, using the Astro framework for its simplicity, and how the final source code looks.</p>
        <p>The <code>joshskipp.dev</code> domain was purchased though Hover, if curious.</p> -->

</BaseLayout>