---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.

---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<!DOCTYPE html>
<html lang=en>
<head>
    <title>Yeah Skippy</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/site.css">
</head>
<body class="page">
<div id="container">
    <div id="content">

        <nav id="root">
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Projects</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <header>
            <h1 id="logo">Yeah Skippy</h1>
        </header>

        <main>
            <p class="">Here the main content of the site will go.</p>

            <h2>
                About this site
            </h2>
            <p>This page is hosted, with GitHub pages, using the Astro framework for its simplicity, and how the final source code looks.</p>
            <p>The <code>joshskipp.dev</code> domain was purchased though Hover, if curious.</p>
        </main>

        <footer>
            Copyright 2025 Josh Skipp. <br>
            Made in Australia with local and imported ingredients.
        </footer>

    </div>
</div>
</body>
</html>