---
import BaseLayout from '@layouts/ProjectLayout.astro';

const posts = await Astro.glob('./*.md')

---
<BaseLayout>
	<h1>Projects</h1>
	<p> A collection some of my work highlights.</p>
	<p>I work on various things, from live theatre, to musicals, and dance. As I start my development work, I will also add them here.</p>
</BaseLayout>