:root {
    /* Nord */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;

    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;

    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;

    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}


html {
	height: 100%; 		/* Fallback CSS for IE 4-6 and older browsers. Note: Without this setting, body below cannot achieve 100% height. *!*/
    height: 100vh;/* Overrides 100% height in modern HTML5 browsers and uses the viewport's height. Only works in modern HTML5 browsers */
}

body {
    height: auto; /* Allows content to grow beyond the page without overflow */
    width: auto; /* Allows content to grow beyond the page without overflow */
	min-height: 100%; /* Starts web page with 100% height. Fallback for IE 4-6 and older browsers */
    min-height: 100vh; /* Starts web page with 100% height. Uses the viewport's height. Only works in modern HTML5 browsers *!*/
	overflow-y: scroll; /* Optional: Adds an empty scrollbar to the right margin in case content grows vertically, creating a scrollbar.  Allows for better width calculations, as the browser pre-calculates width before scrollbar appears, avoiding page content shifting.*!*/
    margin: 0;
    padding: 0.5 rem;

	/* FOR TESTING: Next add a large block of text or content to your page and make sure this background color always fills the screen as your content scrolls off the page. If so, this works. You have 100% height with flexible content! *!*/
	/*    background:yellow;!

    /* Above credit: Stokely, posted to StackOverflow 28th November, 2022. (stackoverflow.com/a/65836306) */
    
    background:var(--nord0);
    /* border-top: 10pt solid var(--nord10);
    border-bottom: 10pt solid var(--nord11); */
    color: var(--nord6);
    padding-bottom: env(safe-area-inset-bottom);
    font: 12pt 'Univers LT Std', Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana, sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    text-wrap: pretty;

}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, label, ul, ol, dl, fieldset, address {
    margin-bottom: 1em;
}

ul li p {
	margin-left: 0;
	margin-right: 0;
}

a {
    text-decoration: none;
    color: var(--nord4);
    border-width: 0 0 1px 0;
    padding: 0.2rem 0 0.12rem 0;
}

a:link {
    border-style: solid;
}

a:hover {
    background-color: var(--nord3);
    border-width: 0 0 1px 0;

}


#container {
	text-align: center;

}

#content {
    display: flex;
    flex-direction: column;
	min-height: calc(100vh - 2rem);
    max-width: 45em;
    margin: 0 auto;
    text-align: left;
}

header, main, footer {
  margin: 0;
  display: block;
}

nav#root {
    text-align: right;
    font-weight: bold;
    padding-top: 0.5rem;
}

nav#root ul {
    margin: 0;
    padding: 0;
    display: inline;
}

nav#root ul li {
    margin-left: 0;
    list-style: none;
    display: inline;
    text-transform: uppercase;
}

nav#root ul li a {
    text-decoration: none;
    border: none;
    color: var(--nord4);
    font-family: 'ibmmono';
    font-weight: 500;
    padding: 0.5rem 0.75rem;

    
}

nav#root ul li a:hover {
    background-color: var(--nord2);
	border-width: 0 0 1px 0;
    border-style: solid;

}

header {
    a:link {
        color: var(--nord4);
        text-decoration: none;
    }

    a:visited {
        color: var(--nord4);
        text-decoration: none;
    }
}
header #logo {
    margin: 0 auto 20px;
    font-size:20pt;
    font-family: 'ibmmono';
}

main {
    flex: 1;
    padding-bottom: 2rem;
}

footer {
    color: var(--nord4);
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
}

article h1.title {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--nord6);
    font-size: 14pt;
    a {
        text-decoration: none;
        color:inherit
    }
    a:hover {
        text-decoration: underline;
        color:inherit
    }
} 

section.homepage-hero {
    padding: 1rem;
    font-size: 16pt;
    background-color: var(--nord1);
    border: 1px solid var(--nord0);
    box-shadow: 2px 2px var(--nord3);

    h1 {
        
    }

    h2 {
        font-stretch: condensed;
        font-weight: lighter;
        font-size: 18pt;
    }

    p {

    }

    strong {
        color:var(--nord11);
        font-weight: normal;
    }
}

div.homepage-links {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25rem;
}

div.two-col {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    padding-top: 2rem;
}

div.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
    /* background-color:var(--nord1); */
    line-height: 1;
    flex-shrink: 0;
    flex-grow: 1;


    h2 {
        font-size: 10pt;
        text-transform: uppercase;
        /* margin: 0 0 0.5rem 0; */
        font-family: 'ibmmono';
        letter-spacing: 0.15rem;
    }

    ul {
        margin: 0;
        padding: 0;
        display: inline;
    }

    ul li {
        margin-left: 0;
        list-style: none;
        text-transform: uppercase;
        font-size: 9pt;
        line-height: 1.75;
        padding-bottom: 0.5rem;
    }
}

div.main-area{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex-shrink: 1;
    
    h1 { 
        margin:0;
    }
    p {
        margin-top: 0;
    }

}



/* FONTS */
@font-face {
    font-family: 'Univers LT Std';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url("fonts/univers/UniversLTStd.woff") format('woff');
    font-display:block
}

@font-face {
    font-family: 'Univers LT Std';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url("fonts/univers/UniversLTStd-Obl.woff") format('woff');
    font-display:block
}

@font-face {
    font-family: 'Univers LT Std';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url("fonts/univers/UniversLTStd-Bold.woff") format('woff');
    font-display:block
}

@font-face {
    font-family: 'Univers LT Std';
    font-weight: 700;
    font-style: italic;
    src: url("fonts/univers/UniversLTStd-BoldObl.woff") format('woff');
    font-display:block
}

@font-face {
    font-family: 'Univers LT Std';
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
    src: url("/fonts/univers/UniversLTStd-Cn.woff") format('woff');
    font-display:block
}

@font-face {
    font-family: 'Univers LT Std';
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
    src: url("fonts/univers/UniversLTStd-BoldCn.woff") format('woff');
    font-display:block
}

@font-face {
    font-family: 'Univers LT Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: condensed;
    src: url("fonts/univers/UniversLTStd-CnObl.woff") format('woff');
    font-display:block
}

@font-face {
    font-family: 'Univers LT Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: condensed;
    src: url("fonts/univers/UniversLTStd-BoldCnObl.woff") format('woff');
    font-display:block
}

@font-face {
    font-family: 'ibmmono';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/ibmplexmono/ibmplexmono-reg.ttf');
    font-display: block;
}

/* Screen sizes */
@media only screen and	(max-width: 720px) {
	#root ul li {
		margin: 0;
		padding: 0;
		padding-right: 0.25em;
        font-size: 12pt;
	}

    div#content {
        margin: 0.5em;
        display: block;
      }
     header #logo {
        font-size:28pt;
        margin: 0
     }
}