---

---
<!DOCTYPE html>
<html lang=en>
<head>
    <title>Yeah Skippy</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="page">
<div id="container">
    <div id="content">

        <nav id="root">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>

        <header>
            <a href="/">
            <h1 id="logo">&#12297;Yeah Skippy_</h1>
            </a>
        </header>

        <main>
            <slot />
        </main>

        <footer>
            Copyright 2025 Josh Skipp. <br>
            Made in Australia with local and imported ingredients.
        </footer>

    </div>
</div>
</body>
</html>